body {
  font-family: Arial, sans-serif;
  background-color: #f2f9f1;
}
h1 {
  color: #5c715e;
  text-align: right;
  font-size: 32px;
  font-weight: 200;
  line-height: 50px;
}
h1:hover,
h2:hover {
  color: #a7b99e;
  cursor: pointer;
  transition-delay: 100ms;
}
h2 {
  color: #5c715e;
  font-size: 28px;
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: #5c715e;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 100;
  line-height: 23px;
}
a {
  color: #5c715e;
  text-decoration: none;
}
a:hover {
  color: #5c715e;
  text-decoration: none;
  cursor: pointer;
  transition-delay: 100ms;
}
.row {
  margin-left: 30px;
}
.weather-app-wrapper {
  max-width: 660px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #5c715e;
  border-radius: 10px;
  background: radial-gradient(rgb(182, 205, 189) 0%, rgb(221, 238, 223) 100%);
}
.weather-temperature {
  margin-top: 30px;
  margin-right: 20px;
}
.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #5c715e;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .units {
  color: #5c715e;
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-description {
  margin-top: 30px;
}
.information {
  font-size: 12px;
  line-height: 1;
}
.weather-temperature .active {
  color: #5c715e;
  cursor: default;
}

.weather-temperature .active:hover {
  color: #5c715e;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-date {
  font-size: 16px;
  color: #5c715e;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast .col-2:hover {
  border: 1px solid #5c715e;
  border-radius: 10px;
  cursor: pointer;
  transition-delay: 100ms;
}
.footer {
  font-family: monospace;
  opacity: 0.6;
  text-align: center;
  display: block;
}
