body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #878787;
  text-align: right;
  font-size: 32px;
  font-weight: 200;
  line-height: 50px;
}
h2 {
  color: #878787;
  font-size: 28px;
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: #878787;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 100;
  line-height: 23px;
}
a {
  text-decoration: none;
}
.row {
  margin-left: 30px;
}
.weather-app-wrapper {
  max-width: 660px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.weather-temperature {
  margin-top: 30px;
  margin-right: 20px;
}
.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-description {
  margin-top: 30px;
}
.information {
  font-size: 12px;
  line-height: 1;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
